
@{
    ViewBag.Title = "Mee";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clemo – Free HTML5 Multipurpose Portfolio Page Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="assets/css/fonticons.css">
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>


    <div class="main_service_area">
        <div class="single_service_area">
            <div class="row">
                <div class="col-sm-6">
                    <div class="signle_service_left">
                        <img src="~/assets/bihun sup.png" alt="" style="width:100%; height:100%" />
                    </div>
                </div>
                <div class="col-sm-5 col-sm-push-1">
                    <div class="single_service">
                        <h3>Menu 1</h3>
                        <h2>Bihun Sup</h2>
                        <div class="separator2"></div>
                        <p>
                            Price: RM4.50
                        </p>
                        <ul class="btn btn-default">@Html.ActionLink("Add to Cart", "Cart", "Home")</ul>
                    </div>
                </div>
            </div>
        </div><!-- End of single service area -->
        <div class="single_service_area  margin-top-80">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                    <div class="signle_service_left">
                        <img src="~/assets/kuey teow kung fu.jpg" alt="" style="width:100%; height:100%" />
                    </div>
                </div>
                <div class="col-sm-5 col-sm-pull-6">
                    <div class="single_service">
                        <h3>Menu 2</h3>
                        <h2>Kuey Teow Kung Fu</h2>
                        <div class="separator2"></div>
                        <p>
                            Price: RM4.50
                        </p>
                        <ul class="btn btn-default">@Html.ActionLink("Add to Cart", "Cart", "Home")</ul>
                    </div>
                </div>
            </div>
        </div><!-- End of single service area -->
        <div class="single_service_area margin-top-80">
            <div class="row">
                <div class="col-sm-6">
                    <div class="signle_service_left">
                        <img src="~/assets/maggi goreng.jpg" alt="" style="width:100%; height:100%" />
                    </div>
                </div>
                <div class="col-sm-5 col-sm-push-1">
                    <div class="single_service">
                        <h3>Menu 3</h3>
                        <h2>Maggi Goreng</h2>
                        <div class="separator2"></div>
                        <p>
                            Price: RM4.00
                        </p>
                        <ul class="btn btn-default">@Html.ActionLink("Add to Cart", "Cart", "Home")</ul>
                    </div>
                </div>
            </div>
        </div><!-- End of single service area -->
        <div class="single_service_area  margin-top-80">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                    <div class="signle_service_left">
                        <img src="~/assets/mee goreng.jpg" alt="" style="width:100%; height:100%" />
                    </div>
                </div>
                <div class="col-sm-5 col-sm-pull-6">
                    <div class="single_service">
                        <h3>Menu 4</h3>
                        <h2>Mee Goreng</h2>
                        <div class="separator2"></div>
                        <p>
                            Price: RM4.00
                        </p>
                        <ul class="btn btn-default">@Html.ActionLink("Add to Cart", "Cart", "Home")</ul>
                    </div>
                </div>
            </div>
        </div><!-- End of single service area -->
        <div class="single_service_area margin-top-80">
            <div class="row">
                <div class="col-sm-6">
                    <div class="signle_service_left">
                        <img src="~/assets/mee hailam.jpg" alt="" style="width:100%; height:100%" />
                    </div>
                </div>
                <div class="col-sm-5 col-sm-push-1">
                    <div class="single_service">
                        <h3>Menu 5</h3>
                        <h2>Mee Hailam</h2>
                        <div class="separator2"></div>
                        <p>
                            Price: RM4.00
                        </p>
                        <ul class="btn btn-default">@Html.ActionLink("Add to Cart", "Cart", "Home")</ul>
                    </div>
                </div>
            </div>
        </div><!-- End of single service area -->
    </div>
    
   
</body>
</html>

